::placeholder{
    color:rgb(61, 61, 61)
}
#manageTable{
    background:rgb(182, 143, 17);
}
#tableForm{
    position:relative;
    background:rgba(0,0,0,0.7);
    top:30px;
    left:50px;
    width:400px;
    padding:2%;
    margin-bottom:20px;
}
.tableField{
    font-size:18px;
    padding:4px;
    width:260px;
    margin-bottom:4px;
}
.tableButton{
    font-size:18px;
    background:none;
    border:1px solid rgb(235, 180, 0);
    color:rgb(235, 180, 0);
    width:160px;
    height:40px;
}
.tableButton:hover{
    border:1px solid white;
    color:white;
}
#tableList{
    position:relative;
    left:50px;
    top:20px;
    background:rgba(0,0,0,0.7);
    height:200px;
    width:400px;
    color:white;
    font-size:18px;
    padding:10px;
    overflow-y:auto;
}
#tableList table{
    width:100%;
}
#tableList table th{
    font-size:20px;
    border-bottom:1px solid white;
}
#tableList table td{
    font-size:20px;
    text-align:center;
}