{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'style.css'%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'registerAdmin.css'%}">
    <title>Restaurant Registration</title>
</head>
<body>
    <header>
        <nav id="navbar">
            <h1 id="mainHeading"><a id="mainHeadingLink" href="\"><i>POSWA</i></a></h1>
            <form class="navForm" action="loginAdmin">
                <button class="navButton">Admin Login</button>
            </form>
        </nav>
    </header>
    <main>
        <div id="registerDiv">
            <form id="registerForm" action="registerAdmin" method="POST">
                {%csrf_token%}
                <input class="registerField" type="text" name="adminName" placeholder="Enter Admin Name" required="true">
                <input class="registerField" type="text" name="restaurantName" placeholder="Enter Restaurant Name" required="true">
                <input class="registerField" type="email" name="adminEmail" placeholder="Enter Admin Email" required="true">
                <input class="registerField" type="text" name="restaurantAddress" placeholder="Enter Restaurant Address" required="true">
                <input class="registerField" type="text" name="adminAddress" placeholder="Enter Admin Address" required="true">
                <input class="registerField" type="password" name="password1" placeholder="Enter Password" required="true">
                <input class="registerField" type="number" name="adminContact" placeholder="Enter Admin Contact" required="true">
                <input class="registerField" type="password" name="password2" placeholder="Confirm Password" required="true">
                <input class="registerField" type="text" name="adminAccessID" placeholder="Enter Admin Access ID" required="true">
                <input class="registerButton" type="submit" value="Register">
            </form>
            <div id="adminText">
                <h1 id="text1">BECOME <br> the OWNER<br> of Your DREAM</h1><br>
                <h2 id="text2">Register your Restaurant</h2>
            </div>
        </div>
    </main>
</body>
</html>