{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'managerPage.css'%}">
    <link rel="stylesheet" href="{%static 'salesRecords.css'%}">
    <title>Staff Page</title>
</head>
<body>
    <header>
        <nav id="navbar">
            <h1 id="mainHeading"><i>POSWA</i></h1>
            <form class="navForm" action="logout">
                <button class="navButton">Logout</button>
            </form>
            <div id="navlinks">
                <a id="managerProfile" href="managerProfile">Profile</a>
                <a id="manageStaff" href="manageStaff">Manage Staff</a>
                <a id="manageInventory" href="manageInventory">Manage Inventory</a>
                <a id="manageMenu" href="customizeMenu">Customize Menu</a>
                <a id="manageTable" href="manageCovers">Manage Dine-in Covers</a>
                <a id="salesRecords" href="salesRecords">Sales Records</a>
                <a id="salesAnalysis" href="salesAnalysis">Sales Analysis</a>
            </div>
        </nav>
    </header>
    <main>
        <div id="mainPage">
            {%for restaurant in Restaurantdetails%}
            <div id="PageHead">
                <h1>{{restaurant.Restaurant_name}}</h1><br>
                <p><b>{{restaurant.Restaurant_address}}</b></p>
            </div>
            <div id="PageContent">
               <table id="orderRecords">
                   <tr id="orderRecordsHeading">
                       <th>S.No.</th>
                       <th>Customer Name</th>
                       <th>Customer Contact</th>
                       <th>Items Ordered</th>
                       <th>Order Type</th>
                       <th>Table Number</th>
                       <th>Discount Applied</th>
                       <th>Order Price</th>
                       <th>Date</th>
                       <th>Time</th>
                   </tr>
                   {%for order in Completedorders%}
                   <tr class="orderRecordsData">
                       <td>{{forloop.counter}}</td>
                       <td>{{order.customerName}}</td>
                       <td>{{order.customerContact}}</td>
                       <td>{{order.items}}</td>
                       <td>{{order.type}}</td>
                       <td>{{order.tableNumber}}</td>
                       <td>{{order.discount}}%</td>
                       <td>{{order.price}}/-</td>
                       <td>{{order.date}}</td>
                       <td>{{order.time}}</td>
                   </tr>
                   {%endfor%}
               </table>
            </div>
            {%endfor%}
        </div>
    </main>
</body>
</html>